@inherits LayoutComponentBase
@inject CustomAuthenticationStateProvider TokenProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            Logged in as @context.User.Identity.Name

            <button @onclick="@(() => TokenProvider.SetTokenAsync(null, null))">LogOut</button>
        </AuthorizeView>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
